{% extends 'base.html' %}


{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}
    
    <h2>Edit Blog Post</h2>
    <form action="/posts/edit/{{post.id}}" method='POST'>
        Title: <input type="text" name="title" id="title" value="{{post.title}}">
        <br>
        Content: <input type="text" name="content" id="content", value="{{post.content}}">
        <br>
        Author: <input type="text" name="author" id="author", value="{{post.author}}">
        <br>        
        <input class="btn btn-secondary" type="submit" value="Edit">
    </form>
    <hr>
{% endblock %}