{% extends 'base.html' %}


{% block head %}
<title>Home Luismo</title>
{% endblock %}

{% block body %}

<h1>Home Page</h1>

<div class="jumbotron">
    <div class="col-sm-8 mx-auto">
        <h1>Welcom Lorem</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatum quia quaerat necessitatibus
            fugiat
            tenetur nostrum! Suscipit sapiente quam quia. Repudiandae eos, cumque quas atque aut amet corporis
            distinctio
            enim.
        </p>

    </div>

{% endblock %}