{% extends 'base.html' %}


{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}
    <h1>All Posts</h1>

    <hr>
    <h2>Create a new Blog Post</h2>

    <form action="/posts" method='POST'>
        Title: 
        <br>
        <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title">
        <br>
        Author: 
        <br>
        <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author">
        <br>
        Content: 
        <br>
        <textarea class="form-control" type="text" name="content" id="content" placeholder="Enter Content" rows = 5></textarea>
        <br>
        <br>        
        <input type="submit" class="btn btn-info" value="Post">
    </form>
    <hr>

    {% for item in posts %}
        <h1>Title: {{ item['title'] }}</h1>
        <p style="white-space:pre-wrap">Content: {{ item['content'] }}</p>

        {% if item.author %}
            <small> Written by: {{ item.author }} on {{ item.date_posted }} </small>
        
        {% else %}
            <small> Written by: 'N/A' on on {{ item.date_posted }} </small>
        {% endif%}
        <br>        
        <a class="btn btn-danger" href = '/posts/delete/{{item.id}}'> Delete </a>        
        <a class="btn btn-secondary" href = '/posts/edit/{{item.id}}'> Edit </a>
        
    {% endfor %}

{% endblock %}