{% extends 'base.html' %}


{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}

    <br>
    <div>
        <h1 style="display:inline" class="text-uppercase">All Posts</h1>
        <a style="display:inline" class="btn btn-success float-right" href="/posts/new" method="get"> + New Post</a>
    </div>
    {% for item in posts %}
        <h2>Title: {{ item['title'] }}</h2>
        <p style="white-space:pre-wrap">Content: {{ item['content'] }}</p>
        {% if item.author %}
            <small> Written by: {{ item.author }} on {{ item.date_posted }} </small>
        
        {% else %}
            <small> Written by: 'N/A' on on {{ item.date_posted }} </small>
        {% endif%}
        <br>        
        <a class="btn btn-danger" href = '/posts/delete/{{item.id}}'> Delete </a>        
        <a class="btn btn-primary" href = '/posts/edit/{{item.id}}'> Edit </a>
        
    {% endfor %}

{% endblock %}